!!! 5
%html
  %head
    %title
      Sign in with Twitter
    %meta{:charset => "utf-8"}
    %meta{:name => "Description", :content => "A Ruby on Rails app that demonstrates how to use the Sign in with Twitter workflow using the twitter gem and OmniAuth."}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "http://bootstrap.io/Content/css/bootstrap.css"
    = stylesheet_link_tag "application"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    = javascript_include_tag "http://bootstrap.io/Scripts/bootstrap/bootstrap-alert.js"
    = csrf_meta_tags
  %body
    %a{:href => "https://github.com/sferik/sign-in-with-twitter"}
      = image_tag("fork-me-on-github.png", :alt => "Fork me on GitHub", :id => "sash")
    .navbar.navbar-static
      .navbar-inner
        .container
          = link_to("Sign in with Twitter", root_path, :class => "brand")
          %ul.nav
            %li
              %a{:href => "https://dev.twitter.com/docs/auth/implementing-sign-twitter"}
                Documentation
            %li
              %a{:href => "https://dev.twitter.com/docs/sign-twitter-resources"}
                Resources
            %li
              %a{:href => "http://travis-ci.org/sferik/sign-in-with-twitter"}
                Build Status
            %li
              %a{:href => "https://gemnasium.com/sferik/sign-in-with-twitter"}
                Dependency Status
            %li
              %a{:href => "https://github.com/sferik/sign-in-with-twitter"}
                Source Code
    .container
      - if flash[:notice]
        .alert-message.warning
          %a{:class => "close", :"data-dismiss" => "alert", :href => "#"}
            &times;
          %p
            = flash[:notice]
        :javascript
          $(".alert-message").alert();
      - if flash[:error]
        .alert-message.error
          %a{:class => "close", :"data-dismiss" => "alert", :href => "#"}
            &times;
          %p
            = flash[:error]
        :javascript
          $(".alert-message").alert();
      .content
        = yield
      %footer
        %p
          = "&copy; #{Date.today.year} Erik Michaels-Ober.".html_safe
