!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %title
      Sign in with Twitter
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    %a{:href => "https://github.com/sferik/sign-in-with-twitter"}
      = image_tag("fork-me-on-github.png", :alt => "Fork me on GitHub", :style => "position: absolute; top: 0; right: 0; border: 0; z-index: 10001;")
    .topbar
      .fill
        .container
          = link_to("Sign in with Twitter", root_path, :class => "brand")
          %ul.nav
            %li
              %a{:href => "https://dev.twitter.com/docs/auth/implementing-sign-twitter"}
                Documentation
            %li
              %a{:href => "https://dev.twitter.com/docs/sign-twitter-resources"}
                Resources
            %li
              %a{:href => "http://travis-ci.org/sferik/sign-in-with-twitter"}
                Build Status
            %li
              %a{:href => "https://gemnasium.com/sferik/sign-in-with-twitter"}
                Dependency Status
            %li
              %a{:href => "https://github.com/sferik/sign-in-with-twitter"}
                Source Code
    .container
      - if flash[:notice]
        .alert-message.warning
          %p
            = flash[:notice]
      - if flash[:error]
        .alert-message.error
          %p
            = flash[:error]
      .content
        = yield
      %footer
        %p
          &copy;
          = Date.today.year
          Erik Michaels-Ober.
